h1{
  text-align: center;
  color: black;
}
.inicio{
    margin-left: 0px;
  }
  .ubicacion, .descripcion{
    margin-top: 20px;
  } 
   .texto-img{
    margin-bottom: 200px;
  }
  .mapa{
    width: 500px;
    height: 300px;
  }
  .galery img{
    width: 400px;
    height: 300px;
  }
  .items-izq p{
    text-align: left;
    margin-left: 30px;
  }
  .items-der p{
    text-align: right;
    margin-right: 30px;
  }
  h2{
    text-align: center;
    }
    
  p{
    color: black;
  }
 
  .footer{
    background-color: #e7d5d6;
  }