.contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 15px;
    grid-auto-flow: row;
    height: 100vh;
    grid-template-areas:
      "whats"
      "ig"
      "mail";
      margin-top: 40px;
  
      .wp{
        grid-area: whats;
      }
      .ig{
        grid-area: ig;
      }
      .mail{
        grid-area: mail;
      }
      .contact-data{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contact-data img{
          width: 100px;
      }
    }