.logo{
    width: 40px;
    height: 40px;
  }
  .header{
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 25px;
  }
  
  .nav{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 0px;

  }
  .fondo{
    opacity: 0.5;
    height: 650px;
    object-fit: cover;
  }