.logo{
    width: 40px;
    height: 40px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
  }
  .open-menu, .close-menu{
    display: none;
  }
  .open-menu{
    width: 2rem;
  }
  button{
    border: 0;
  }
  .nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    li{
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  .fondo{
    height: 650px;
    object-fit: cover;
    opacity: 0.7;
  }
  .title, .subtitle{
    z-index: 1;
  }
  