.texto-img{
    text-align: center;
  }
.items-izq p{
    text-align: left;
    margin-left: 30px;
  }
  .items-der p{
    text-align: right;
    margin-right: 30px;
  }
    
  h2{
      text-align: center;
  }